.venv/*
.venv/

.idea/*
.idea/

*.iml

*.xml
*.json

./scripts/__pycache__/*
scripts/__pycache__/*

./scripts/domain/__pycache__/*
scripts/domain/__pycache__/*

./scripts/domain/entities/__pycache__/*
scripts/domain/entities/__pycache__/*

./scripts/generics/__pycache__/*
scripts/generics/__pycache__/*

./scripts/globals/__pycache__/*
scripts/globals/__pycache__/*
