.venv/*
.venv/

.idea/*
.idea/

*.iml

*.xml
*.json

*.log
*.exe

bin/domain/__pycache__/*
bin/domain/__pycache__/


bin/scripts/__pycache__/*
bin/scripts/__pycache__/*

bin/scripts/domain/__pycache__/*
bin/scripts/domain/__pycache__/*

bin/scripts/domain/entities/__pycache__/
bin/scripts/domain/entities/__pycache__/*

bin/scripts/generics/__pycache__/*
bin/scripts/generics/__pycache__/*

bin/scripts/globals/__pycache__/*
bin/scripts/globals/__pycache__/*
